
      <div class="panel panel-default">
        <div class="panel-heading" ng-click="vert=!vert; d_verHu.cargar_tareas()">
          {{d_verHu.historia.Nombre}} ptos: {{d_verHu.historia.Puntos}}
        </div>
        <div class="panel-body" ng-show="vert">
          <p>{{d_verHu.historia.Descripcion}}</P>

            <div class="panel panel-default" ng-repeat="tarea in d_verHu.tareas">
              <div class="panel-heading" ng-click="verc=!verc; tarea.Comentarios=d_verHu.ver_comentarios(tarea) ">
                {{tarea.Id}}. {{tarea.Descripcion}}
              </div>
              <div class="panel-body" ng-show="verc">
                <blockquote ng-repeat="comentario in tarea.Comentarios[0]">
                  <small>{{comentario.Asunto}}<span ng-click="d_verHu.eliminar_comentario(comentario.Id,tarea)" style="color:red">x</span></small>

                </blockquote>
                <textarea class="form-control" rows="5" ng-model="d_verHu.nuevo_comentario.Asunto" ></textarea>
                <button class="btn btn-default" ng-click="d_verHu.agregar_comentario(tarea)">Agregar</button>

              </div>
            </div>


            <div class="panel panel-default" >
              <div class="panel-heading">
                <h3 class="panel-title"></h3>
              </div>
              <div class="panel-body">

              </div>
            </div>
        </div>
      </div>
